{% extends "layout.html" %}
{%block body%}

<link rel="stylesheet" href="{{url_for('render_bp.static', filename='css/start.css')}}" />

<div class="centered">
    <div style="  margin: auto;  text-align: center;">
        <h1>
            Project Scope
        </h1>
    </div>
    <br>
    <h2> Choose between rendering <br> </h2>


    <a href="/ttl">
        <button class="btn btn-lg btn-block">file based </button></a>
    <br>
    <a href="/ts">
        <button class="btn btn-lg btn-block">triplestore based </button></a>





</div>
{% endblock %}