{% extends "layout.html" %}
{%block body%}

<link rel="stylesheet" href="{{url_for('render_bp.static', filename='css/style.css')}}" />
<link rel="stylesheet" href="{{url_for('render_bp.static', filename='css/graph.css')}}" />


    <!-- <div class="container"> -->
    <div class="row">
        <div class="col-sm-6">
            <div id="containerheader">
                <span class="left">
                <a class="headertext" data-toggle="collapse" href="#codeMirrorContainer" role="button"
                    aria-expanded="false" aria-controls="collapseExample">
                    Code Editor for your Turtle-File
                </a>
            </span>
            <span class="right">
                <button  type="button" class="btn  btn-secondary" onclick="getTTL()">generate geometry from ttl</button>
            </span>
            </div>

            <!-- Code Mirror -->
            <div class="collapse show " id="codeMirrorContainer">

                <form>
                    <textarea id="code" name="code">
@prefix Pipe: <https://projekt-scope.de/products/pipeWithConnection.ttl#> .
@prefix occ: <https://projekt-scope.de/ontologies/occ#> .
@prefix omg: <https://w3id.org/omg#> .
@prefix oop: <https://projekt-scope.de/ontologies/oop#> .
@prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> .
@prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#> .
@prefix xml: <http://www.w3.org/XML/1998/namespace> .
@prefix xsd: <http://www.w3.org/2001/XMLSchema#> .

Pipe:_KhrxeISb omg:hasGeometry Pipe:_IYvpfaUw,
Pipe:_rABknumz,
Pipe:_vHLuqCkb .

Pipe:_DDVAkYgC a occ:BRepPrimAPI_MakeCylinder ;
oop:hasMethod Pipe:_ouobmXDw ;
oop:hasParameter ( "Nbd021bd5c15b492cbecbac2c71f8bd46" 15 200 ) .

Pipe:_DySgDuqh a occ:gp_Pnt ;
oop:hasParameter ( "N644ce36a6fc84051b6fa812fd2651bb2" 0e+00 0e+00 2.1e+02 ) .

Pipe:_HrenrCcV a occ:BRepPrimAPI_MakeCylinder ;
oop:hasMethod Pipe:_PJSeNhwH ;
oop:hasParameter ( "N6e3a56f140f34d0384b5c3be2af88834" Pipe:_ViSoXchS 1.3e+01 2e+02 ) .

Pipe:_IYvpfaUw omg:hasComplexGeometryDescription Pipe:_tPrmfwka .

Pipe:_KdhMZxoq a occ:gp_Pnt ;
oop:hasParameter ( "N85e6ce8359734e4d93fa38892ea340eb" 0e+00 0e+00 2e+02 ) .

Pipe:_MzdUiaqy a occ:gp_Dir ;
oop:hasParameter ( "Na0a87a84ed6940b6a03e41b3d5cb044c" 0e+00 0e+00 1e+00 ) .

Pipe:_OeRhYQDT a occ:Shape .

Pipe:_PJSeNhwH a occ:Shape .

Pipe:_QrwcsdRS a occ:Shape .

Pipe:_RatutPUp omg:hasComplexGeometryDescription Pipe:_uWbkUhNu .

Pipe:_SytMbiZp a occ:gp_Ax2 ;
oop:hasParameter ( "N110f5b8aea7a42fa9808f6fca3566944" Pipe:_FSViapkH Pipe:_XVZpnFxb ) .

Pipe:_TlPXprjD a occ:Shape .

Pipe:_TrAaWhvT omg:hasComplexGeometryDescription Pipe:_dLDuWExB .

Pipe:_UEcTRdKS a occ:BRepPrimAPI_MakeCylinder ;
oop:hasMethod Pipe:_OeRhYQDT ;
oop:hasParameter ( "N433568e6525e47cfb6b80cbed04e1aa0" 13 200 ) .

Pipe:_UNrDBEmw a occ:Shape .

Pipe:_UmHAdmTr a occ:Shape .

Pipe:_WmpuBTUl omg:hasComplexGeometryDescription Pipe:_UEcTRdKS .

Pipe:_aHptsuTI a occ:BRepPrimAPI_MakeCylinder ;
oop:hasMethod Pipe:_UmHAdmTr ;
oop:hasParameter ( "Ne263dce3f5b84f57b6ececd91d8f9b38" Pipe:_rLuAoZIw 2e+01 1e+01 ) .

Pipe:_coeNhkTl a occ:BRepAlgoAPI_Cut ;
oop:hasMethod Pipe:_QrwcsdRS ;
oop:hasParameter ( "Nea90541a9d29441b946d54012b32c469" Pipe:_RatutPUp Pipe:_oVvVBnJJ ) .

Pipe:_dLDuWExB a occ:BRepPrimAPI_MakeCylinder ;
oop:hasMethod Pipe:_UNrDBEmw ;
oop:hasParameter ( "N1120353b44064eeca9f9cad8737d2472" Pipe:_rLuAoZIw 1.5e+01 1e+01 ) .

Pipe:_dMWfYfop omg:hasComplexGeometryDescription Pipe:_aHptsuTI .

Pipe:_eTirUdjQ a occ:BRepAlgoAPI_Cut ;
oop:hasMethod Pipe:_nhLjtEfX ;
oop:hasParameter ( "Nfc100fa8814046038c9a341a21ebf3db" Pipe:_tmSDqZmm Pipe:_WmpuBTUl ) .

Pipe:_jXLzgXKK a occ:gp_Ax2 ;
oop:hasParameter ( "N970c674571bf41f58e8df1faa08c0f50" Pipe:_FSViapkH Pipe:_XVZpnFxb ) .

Pipe:_nhLjtEfX a occ:Shape .

Pipe:_oFOLkPyb a occ:gp_Dir ;
oop:hasParameter ( "N130235d627694da1b48c8815bec87493" 0e+00 0e+00 1e+00 ) .

Pipe:_oVvVBnJJ omg:hasComplexGeometryDescription Pipe:_HrenrCcV .

Pipe:_ouobmXDw a occ:Shape .

Pipe:_rABknumz omg:hasComplexGeometryDescription Pipe:_eTirUdjQ .

Pipe:_rVhAJHzf a occ:gp_Pnt ;
oop:hasParameter ( "N31b64cdfb3bf43818a51bc7f9b73eb74" 0e+00 0e+00 2e+02 ) .

Pipe:_sNQlUOQt a occ:gp_Ax2 ;
oop:hasParameter ( "Nbb8f54ffc11f4bb0aaaf87d2a976814e" Pipe:_AzhhwmNg Pipe:_hpYfNdnN ) .

Pipe:_tPrmfwka a occ:BRepAlgoAPI_Cut ;
oop:hasMethod Pipe:_wzOICmOX ;
oop:hasParameter ( "Nb4f2261c87e4422d99cb701d0f2ce6ba" Pipe:_dMWfYfop Pipe:_TrAaWhvT ) .

Pipe:_tmSDqZmm omg:hasComplexGeometryDescription Pipe:_DDVAkYgC .

Pipe:_uNQBXAdo a occ:gp_Pnt ;
oop:hasParameter ( "Na7c5fac116f5470b84863e1cb363452e" 0e+00 0e+00 2.1e+02 ) .

Pipe:_uWbkUhNu a occ:BRepPrimAPI_MakeCylinder ;
oop:hasMethod Pipe:_TlPXprjD ;
oop:hasParameter ( "Ncadd1234a7dd4f82864bc8386e2d9371" Pipe:_ViSoXchS 1.5e+01 2e+02 ) .

Pipe:_ukGFXcqI a occ:gp_Ax2 ;
oop:hasParameter ( "Nfdc4a493fc7a4952b876b3a53c8b3e3f" Pipe:_AzhhwmNg Pipe:_hpYfNdnN ) .

Pipe:_vHLuqCkb omg:hasComplexGeometryDescription Pipe:_coeNhkTl .

Pipe:_wzOICmOX a occ:Shape .

Pipe:_yujbyChR a occ:gp_Dir ;
oop:hasParameter ( "N51c6e306d7df44a294a75addb9231cef" 0e+00 0e+00 1e+00 ) .

Pipe:_yzKKtLDf a occ:gp_Dir ;
oop:hasParameter ( "Nb7b5b53a7ad04eb483f739369ee7c588" 0e+00 0e+00 1e+00 ) .

Pipe:_AzhhwmNg omg:hasComplexGeometryDescription Pipe:_DySgDuqh,
Pipe:_uNQBXAdo .

Pipe:_FSViapkH omg:hasComplexGeometryDescription Pipe:_KdhMZxoq,
Pipe:_rVhAJHzf .

Pipe:_ViSoXchS omg:hasComplexGeometryDescription Pipe:_sNQlUOQt,
Pipe:_ukGFXcqI .

Pipe:_XVZpnFxb omg:hasComplexGeometryDescription Pipe:_MzdUiaqy,
Pipe:_oFOLkPyb .

Pipe:_hpYfNdnN omg:hasComplexGeometryDescription Pipe:_yujbyChR,
Pipe:_yzKKtLDf .

Pipe:_rLuAoZIw omg:hasComplexGeometryDescription Pipe:_SytMbiZp,
Pipe:_jXLzgXKK .


                                    </textarea>
                </form>
            </div>


            <!-- Graph Container -->

            <div id="containerheader">
                    <span class="left">
                <a class="headertext" data-toggle="collapse" href="#graphContainer" role="button" aria-expanded="false"
                    aria-controls="collapseExample">
                    Graph Visualizer

                </a>
            </span>
                <span class="right">
                Simplified list in the graph
                <span class="switch">
                    <input id="toggle-event" type="checkbox" data-toggle="toggle">
                </span>
            </span>

            </div>

            <div class="collapse show " id="graphContainer">

                <div id="svg-body" class="panel-body"></div>
            </div>

            <div class="containertools" >



                    <input type="text" id="TS" value="http://localhost:7200/repositories/SCOPE"></input>
                    <input type="text" id="namespace" value="https://projekt-scope.de/products/complexWindow.ttl"></input>
                    <button type="button" class="btn btn-warning btn-generate-TS" onclick="getTSdata()">generate from TS</button><br>
                    

                </div>
        </div>


        <div class="col-sm-6">


            <!-- Render -->
            <div id="render">

            </div>

        </div>

    </div>
    <!-- </div> -->


    <div id="loader"></div>



    <!-- jinija import if started with url  -->
    <script type="text/javascript">
        //---- json name list //
        var jsonNameList = [];
        // console.log(jsonNameList);
        {% for shape in jsonlist %}
        jsonNameList.push("{{shape|safe}}");
        {% endfor %}
        var ts =false;
    </script>






    <!-- Move It -->
    <!-- <script src="{{url_for('render_bp.static', filename='scripts/moveIt.js')}}"></script> -->

    </div>

    </div>


    <img id="logo" src="{{url_for('render_bp.static', filename='SCOPE Logo final.png')}}">

    <div id="container"></div>
    <div id="pythonocc_rocks">
        pythonocc-0.18.2-dev for scope geometry render <a href="https://github.com/mrdoob/three.js"
            target="_blank">three.js r100</a> renderer
        <br>Check our blog at
        <a href=http://www.pythonocc.org>http://www.pythonocc.org </a> <br>Check our SCOPE
            <a href=https://www.projekt-scope.de>https://www.projekt-scope.de </a> <br>
                Test object from the Server :
                <select onChange="update_JsonNameList_and_render(this.value)">
                    <option value=""></option>
                    {% for e in examples %}

                    <option value="/{{e}}">{{e}}</option>
                    {% endfor %}

                </select>

    </div>

    <div id="commands">
        <div class="span2">
            <button type="button" onclick="setVisibility()" class="btn btn-primary btn-sm  btn-block">view/hide
                shape</button>
            <button type="button" onclick="setWire()" class="btn btn-primary btn-sm  btn-block">view/hide
                wire</button>
            <button type="button" onclick="toggleGrid()" class="btn btn-primary btn-sm  btn-block">view/hide
                grid</button>
                <button type="button" class="btn btn-primary btn-sm  btn-block" onclick="tool_service_api()">BBox</button><br>
            <!-- <button type="button" onclick="toggleAxis()" class="btn btn-primary btn-sm btn-block">view/hide
                axis</button> -->
            <button type="button" onclick="delete_all()" class="btn btn-danger btn-sm btn-block">delete all</button>
        </div>


    </div>

    {% endblock %}